<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
            <a href="/admin"><button type="button" class="btn btn-warning"><i class="fas fa-angle-double-left"></i> Back</button></a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">New Item</h2>
            <span class="text-dark">Use the below form to create a new item</span>
        </div>

        <!-- add item form -->
        <%- include('include/_form') %>
       
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->