<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->


    <!-- Main Site -->
    <main id="site-main">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 style= "text-align: center; line-height: 100px; color: white">Bru Halal Checker</h1>  
              <p style="text-align: center; color: white">A Muslim Foodie's Best Friend</p>    
            </div>
          </div>
          <br>
          <br>

          <div class="row">
            <div class="col">
                <img style="max-width: 100%; height: auto" src="/img/food1.jpg" alt=""> 
             </div>
            <div class="col">
              <p>Ever been grocery shopping and wondered whether what you are purchasing is halal or not,
                   wonder no longer. This website solves your problem by showing you what is halal or not 
                   as verified from Brunei's religious authorities. Our Database comes direct from the 
                   manufacturer or importers themselves and have been carefully vetted. Want to have a
                    look, click on the list at the top or <a href="/public">this link</a>.   
              </p>
            

            </div>
            <div class="col">
               <img style="max-width: 100%; height: auto" src="/img/food2.jpg" alt=""> 
            </div>

          </div>
        </div>


        
    </main>
<!-- /Main Site -->


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->