<!-- include header -->
<%- include('include/_header') %>
<script src="https://kit.fontawesome.com/074d707d8d.js" crossorigin="anonymous"></script>
<!-- /include header -->


    <!-- Main Site -->
    <main id="site-main">
      <div class="container login-container">
        <div class = "card">
          <div class="card-content">
            <h1>Login</h1>
            <div class="section">
              <p>For Authorised Users Only</p>
            </div>
            <div class="divider"></div>
            <div class="section">
              <a href="/auth/google"><button type="button" class="btn btn-danger"><i class="fab fa-google left"></i> Log In With Google</button></a>
            </div>
              
          </div>
        </div>
      </div>
    </main>
<!-- /Main Site -->


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->



